mixin reasons() 
    +b.SECTION.reasons
        +inner
            +e.title
                +title Вот еще 4 причины, обратиться именно к нам
            +e.UL.list
                +e.LI.item
                    +e.icon
                    +e.heading Узкая направленность
                    +e.text
                        | Вашим делом занимается юрист, специализирющийся на долевом строительстве более 7 лет, знающий все тонкости и нюансы данного направления
                +e.LI.item
                    +e.icon
                    +e.heading Индивидуальная стратегия
                    +e.text
                        | Составляем индивидуальную стратегиюпо Вашему делу
                +e.LI.item
                    +e.icon
                    +e.heading Экономия времени
                    +e.text
                        | Вам не нужно изучать практику, участвовать в судебных процессах и подготавливать документы самостоятельно
                +e.LI.item
                    +e.icon
                    +e.heading Без предоплаты
                    +e.text
                        | Оплата услуг после получения денег от застройщика
