.inner {
    width: 100%;
    max-width: 1180px;
	min-width: 300px;
	margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .inner {
		padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .inner {

    }
}
