mixin advantages()
    +b.advantages
        +e.list
            +e.item
                +e.title Под ключ
                +e.text Вам нужно только передать документы
            +e.item
                +e.title Никакой предоплаты
                +e.text Оплата услуг после получения денег от застройщика
            +e.item
                +e.title Приедем в любую точку города
                +e.text Встреча в любом удобном для вас месте в любое время с 7-00 до 22-00 часов
