include template/header
include template/footer
include ../blocks/**/*
- var alias = "m"
doctype
html(lang='ru')
	+doc-header
	body.pageload.no-js
		+main-header
		+f-screen
		+steps
		+problems
		+reasons
		+testimonials
		+faq
		+final
		+main-footer
		+doc-footer
