mixin testimonials()
    +b.SECTION.testimonials
        +inner
            +e.title
                +title Отзывы тех, кто уже получили свои деньги
            +e.H4.subtitle с сохранением авторских орфографии и пунктуации
            +e.slider
                +slider
        
