mixin main-footer()
	+b.HEADER.main-footer
		+inner
			+e.inner
				+e.col
					+e.logo
					+e.SPAN.logo-desc Центр по взысканию неустоек
				+e.col
					+e.data
						| <b>ОГРН</b> 1107847162290 <br> <b>ИНН</b> 7802714852
				+e.col
					+e.tel 8 (800) 555-55-550
					+e.A.button
						+button.--transparent.--light Заказать звонок
