mixin main-footer()
	+b.HEADER.main-footer
		+inner
			+e.inner
				+e.col
					+e.logo
						img(src='images/logo.svg')
					+e.SPAN.logo-desc Центр по взысканию неустоек
				+e.col
					+e.adresses
						| <span>Офис "Север" - Санкт-Петербург, Финляндский просп., 4, БЦ "Петровский Форт"</span>
						| <span>Офис "Юг" -  Санкт-Петербург, Площадь Конституции, 7, БЦ "Лидер"</span>
						| <span>Офис "Сосновый Бор" - Ленинградская область, г. Сосновый Бор, Копроское шоссе дом 58</span>
					+e.data
						| <b>ОГРН</b> 1107847162290 <br> <b>ИНН</b> 7802714852
				+e.col
					+e.tel +7 (812) 40-99-7-55
					+e.A.button
						+button.--transparent.--light Заказать звонок
