mixin main-header()
	+b.HEADER.main-header
		+inner
			+e.inner
				+e.col
					+e.logo
					+e.SPAN.logo-desc Центр по взысканию неустоек
				+e.col
					+e.schedule
						| Работаем без выходных<br>Время работы: с <b>7-00</b> до <b>22-00</b> <br> 
					+e.A.mail(href='mailto:companyurarta@mail.ru') companyurarta@mail.ru
				+e.col
					+e.tel +7 (812) 40-99-7-55
					+e.A.button(href='#modal1' data-toggle="modal" data-target="#modal1")
						+button.--transparent.--light Заказать звонок
