mixin problems()
    +b.SECTION.problems
        +inner
            +e.title
                +title Избавьтесь от 5 проблем с помощью узкопрофильных юристов
            +e.UL.list
                +e.LI.item Споры по объектам с дефектами
                +e.LI.item Расторжение договора долевого участия
                +e.LI.item Взыскание неустойки за просрочку
                +e.LI.item Признание права собственности
                +e.LI.item Споры по объектам с отклонением от договора
