-var steps = [{number: '1', title: 'Встреча', text: 'Приезжаем и консультируем в удобное для Вас время и место'}, {number: '2', title: 'Документы', text: 'Проводим бесплатную экспертизу Ваших документов, подготавливаем претензию и направляем застройщику'}, {number: '3', title: 'Исковое заявление в суд', text: 'Подготавливаем и подаемв суд исковое заявление и процессуальные документы'}, {number: '4', title: 'Судебные заседания', text: 'Ходим на все судебные заседания и получаем выигрышное судебное решение'}, {number: '5', title: 'Исполнительный лист', text: 'Мы получаем и предъявляем приставам исполнительный лист, а Вы получаете по нему деньги с застройщика.'}];

mixin steps()
    +b.SECTION.steps
        +inner
            +e.title
                +title Оставьте все трудности нам и просто следите за процессом!
            +e.UL.list
                each step in steps
                    +e.LI.item
                        +e.number #{step.number}
                        +e.H3.heading #{step.title}
                        +e.P.text #{step.text}
                
