mixin slider()
    +b.slider.carousel.slide#testimonials
        +e.inner.carousel-inner
            .item.active
                +e.slide
                    +e.images
                        +e.image
                            img(src='images/slider1_img1.jpg')
                        +e.image
                            img(src='images/slider1_img2.jpg')
                        +e.comment * Мы ничего от вас не скрываем, но согласно Федеральному закону от 27.07.2006 № 152-ФЗ  «О персональных данных» вынуждены скрывать часть информации. 
                    +e.content
                        +e.title Получили 847 538 руб быстро и без головной боли!
                        +e.text
                            p 
                                | "Хочу сказать огромное спасибо юристам из Правовых услуг населению. В 2015 году заключил договор ДДУ на покупку квартиры в Шушарах одного известного в Питере застройщика, срок передачи квартиры был еще во втором квартале 2016 года, но квартиру не передали до сих пор. 
                            p
                                | Долго сомневался, обращаться ли к юристам, думал дорого будет, да и боялся, что застройщик может гадостей в квартире наделать. В итоге рискнул, хорошо, что обратился к правильным людям, денег заранее не взяли, суды провели быстро, меня только в курсе держали происходящего. 
                            p
                                | В сухом остатке – юристы выиграли для меня 600 000 рублей пени, плюс штраф, неустойку и расходы, итого более 847 538 рублей. Теперь ремонт буду делать за счет застройщика."
                        +e.author Сергей  программист
            .item
                +e.slide
                    +e.images
                        +e.image
                            img(src='images/slider1_img1.jpg')
                        +e.image
                            img(src='images/slider1_img2.jpg')
                        +e.comment * Мы ничего от вас не скрываем, но согласно Федеральному закону от 27.07.2006 № 152-ФЗ  «О персональных данных» вынуждены скрывать часть информации. 
                    +e.content
                        +e.title Получили 847 538 руб быстро и без головной боли!
                        +e.text
                            p 
                                | "Хочу сказать огромное спасибо юристам из Правовых услуг населению. В 2015 году заключил договор ДДУ на покупку квартиры в Шушарах одного известного в Питере застройщика, срок передачи квартиры был еще во втором квартале 2016 года, но квартиру не передали до сих пор. 
                            p
                                | Долго сомневался, обращаться ли к юристам, думал дорого будет, да и боялся, что застройщик может гадостей в квартире наделать. В итоге рискнул, хорошо, что обратился к правильным людям, денег заранее не взяли, суды провели быстро, меня только в курсе держали происходящего. 
                            p
                                | В сухом остатке – юристы выиграли для меня 600 000 рублей пени, плюс штраф, неустойку и расходы, итого более 847 538 рублей. Теперь ремонт буду делать за счет застройщика."
                        +e.author Охи охи
        +e.A.control.--left.left.carousel-control(href='#testimonials' data-slide='prev')
            +e.icon
        +e.A.control.--right.right.carousel-control(href='#testimonials' data-slide='next')
            +e.icon
