mixin final()
    +b.SECTION.final
        +inner
            +e.title 
                +title Остались вопросы?
            +e.buttons
                +e.A.button(href='#')
                    +button.--transparent Задать
                +e.button(href='#')
                    +button Нет вопросов, назначить встречу
