mixin final()
    +b.SECTION.final
        +inner
            +e.title 
                +title Остались вопросы?
            +e.buttons
                +e.A.button(href='#modal3' data-toggle="modal" data-target="#modal3")
                    +button.--transparent Задать
                +e.button(href='#modal4' data-toggle="modal" data-target="#modal4")
                    +button Нет вопросов, назначить встречу
