mixin accordion()
    #accordion.accordion.panel-group(role="tablist" aria-multiselectable="true")
        .accordion__item.panel.panel-default
            #headingOne.panel-heading.accordion__header(role="tab")
                a.collapsed.accordion__title(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne")
                    | Какие гарантии, что я получу деньги?
                    span.arrow
            #collapseOne.panel-collapse.collapse.accordion__content(role="tabpanel" aria-labelledby="headingOne")
                p
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        .accordion__item.panel.panel-default
            #headingTwo.panel-heading.accordion__header(role="tab")
                a.collapsed.accordion__title(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                    | В каких случаях возможно взыскание неустойки по ДДУ ?
                    span.arrow
            #collapseTwo.panel-collapse.collapse.accordion__content(role="tabpanel" aria-labelledby="headingTwo")
                p
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                p
                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum ea facere facilis laborum cum? Provident, doloribus! Inventore debitis perspiciatis dolore obcaecati quod, veritatis nulla porro accusamus ducimus consequuntur. Quisquam consectetur aut eaque quasi provident, quas nemo eos iure labore molestias eveniet. Porro eum animi tenetur nobis numquam, exercitationem doloremque laudantium. Quisquam voluptate omnis adipisci saepe magni repudiandae quidem officia consequuntur in? Possimus culpa accusamus mollitia necessitatibus repellendus dolorum repudiandae corporis rem veniam, ex illum dolores consequatur, neque sint id cumque reprehenderit quo perspiciatis blanditiis ipsum delectus ratione doloremque optio. Quisquam, error? Cum dolores molestias, aperiam consequuntur accusantium fugiat beatae est!
        .accordion__item.panel.panel-default
            #headingThree.panel-heading.accordion__header(role="tab")
                a.collapsed.accordion__title(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                    | Могу ли я сам отсудить неустойку?
                    span.arrow
            #collapseThree.panel-collapse.collapse.accordion__content(role="tabpanel" aria-labelledby="headingThree")
                p
                    | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
