mixin f-screen()
    +b.SECTION.f-screen
        +inner
            +e.title
                | Получите до 2 000 000 руб от компании Дальпитерстрой 
                за просрочку передачи квартиры с гарантией 100%
            +e.advantages
                +advantages
            +e.footer
                +e.P.appeal Узнайте, сколько Вы сможете взыскать с компании Дальпитерстрой
                +e.A.button(href='#') 
                    +button Узнать сумму
            
