.f-screen {
	padding-top: 160px;
	padding-bottom: 65px;
	
	background-image: url('../images/f-screen_bg.jpg');
	background-size: cover;
}

.f-screen__title {
	width: 780px;
	margin: 0 auto 40px;
	
	color: #fff;
	font-size: 27px;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
}

.f-screen__advantages {
	width: 780px;
	margin: 0 auto;
}